{% extends 'base.html.twig' %}

{% block body %}
    <div class="tab-pane active col-md-3">
        <h3 class="text-muted text-center">Edycja danych firmy - sprzedawcy</h3>
        {{ form_start(edit_form) }}
        <div>
            <p class="text-muted text-center">
                {{ form_label(edit_form.name, 'Podaj nazwę kontrahenta:', { 'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(edit_form.name,{ 'attr': {'class': 'form-control top'}}) }}            
            </p>
        </div>    
        <div>   
            <p class="text-muted text-center">
                {{ form_label(edit_form.nip, 'Podaj NIP:', { 'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(edit_form.nip,{ 'attr': {'class': 'form-control top'}}) }} 
            </p>
        </div>      

        <input type="submit" class="btn btn-success btn-sm" value="Zmień dane" />

        <a class="btn btn-default btn-sm" href="{{ path('company_index') }}">Powrót do listy kontrahentów</a>       
        {{ form_end(edit_form) }}
        <hr>
        {{ form_start(delete_form) }}
        <input class="btn btn-danger btn-sm" type="submit" value="Delete">
        {{ form_end(delete_form) }}

    </div>
{% endblock %}
