{% extends 'base.html.twig' %}

{% block body %}
    <div class="tab-content col-md-3">
        <h3 class="text-muted text-center">Lista firm</h3>
        {% if companies |length > 0 %}
            <div id="borderedTable" class="body collapse in">
                <table class="table table-bordered responsive-table">
                    <thead>
                        <tr>
                            <th class="text-muted">Nazwa firmy</th>
                            <th class="text-muted">NIP</th>
                            <th class="text-muted">Akcje</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for company in companies %}
                            <tr>               
                                <td>{{ company.name }}</td>
                                <td>{{ company.nip }}</td>
                                <td>
                                    <ul class="list-inline">
                                        <li>
                                            <a class="btn btn-default btn-sm" href="{{ path('company_show', { 'id': company.id }) }}">Pokaż</a>
                                        </li>
                                        <li>
                                            <a class="btn btn-default btn-sm" href="{{ path('company_edit', { 'id': company.id }) }}">Edycja</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p class="text-muted text-center"> brak kontrahentów w bazie <p>
            {% endif %}
            <a class="btn btn-default btn-sm" href="{{ path('company_new') }}">Dodaj nową firme do bazy</a>
            <a class="btn btn-default btn-md" href="{{ path('invoice_new')}}">Wystaw fakturę</a>
    </div>
{% endblock %}
