{% extends 'base.html.twig' %}

{% block body %}
    <div class="tab-pane active col-md-3">
        <h3 class="text-muted text-center">Dane sprzedawcy</h3>   
        <div id="borderedTable" class="body collapse in">
            <table class="table table-bordered responsive-table">
                <tbody>
                    <tr>
                        <th class="text-muted">Nazwa</th>
                        <td>{{ company.name }}</td>
                    </tr>
                    <tr>
                        <th class="text-muted">NIP</th>
                        <td>{{ company.nip }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a class="btn btn-default btn-sm" href="{{ path('company_index') }}">Powrót do listy firm</a>
        <a class="btn btn-default btn-sm" href="{{ path('company_edit', { 'id': company.id }) }}">Edycja danych</a>
        <hr>
        {{ form_start(delete_form) }}
        <input class="btn btn-danger btn-sm" type="submit" value="usuń firmę">
        {{ form_end(delete_form) }}


    </div>
{% endblock %}
