{% extends 'base.html.twig' %}

{% block body %}
       <div class="tab-content col-md-10">
        <h4 class="text-muted">lista twoich faktur korygujących:</h4>
        {% if invoiceCorrectives |length > 0 %}
            <div id="borderedTable" class="body collapse in">
                <table class="table table-bordered responsive-table">
                    <thead>
                        <tr>
                            <th class="text-muted">Nr faktury</th>
                            <th class="text-muted">Data wystawienia</th>
                            <th class="text-muted">Data sprzedaży</th>
                            <th class="text-muted">Data płatności</th>

                            <th class="text-muted">Menu</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for invoiceCorrective in invoiceCorrectives %}
                            <tr>
                                <td><a class="btn btn-info btn-sm" href="{{ path('invoicecorrective_show', { 'id': invoiceCorrective.id }) }}">{{ invoiceCorrective.invoiceCorrected }}</a></td>
                                <td>{% if invoiceCorrective.issueDate %}{{ invoiceCorrective.issueDate|date('Y-m-d') }}{% endif %}</td>
                                <td>{% if invoiceCorrective.saleDate %}{{ invoiceCorrective.saleDate|date('Y-m-d') }}{% endif %}</td>
                                <td>{% if invoiceCorrective.dueDate %}{{ invoiceCorrective.dueDate|date('Y-m-d') }}{% endif %}</td>

                                <td>
                                    <a class="btn btn-danger btn-sm" href="{{ path('invoicecorrective_delete', { 'id': invoiceCorrective.id }) }}">Usuń fakturę</a>
                                    <a class="btn btn-primary btn-sm" href="{{ path('invoicecorrective_edit', { 'id': invoiceCorrective.id }) }}">Edycja faktury</a>

                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            {% else %}
                <p class="text-center">brak faktur w bazie dla<p>
                {% endif %}
        </div>
    </div> 

{% endblock %}
