{% extends 'base.html.twig' %}

{% block body %}
      <div class="tab-pane active col-md-12">
        <h3 class="text-muted">Tworzenie nowej faktury korygującej</h3>
        {% form_theme form ':invoice:jquery.collection.html.twig' %}
        {{ form_start(form) }}

        <div class="text-muted text-center">
            {{ form_label(form.number, 'Faktura nr:', { 'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.number, { 'attr': {'class': 'form-control input-sm text-center', 'style' : 'width : 120px ; margin : auto'}}) }}
        </div>
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
                <div class="form-group text-muted text-right">
                    {{ form_label(form.issueDate, 'Data wystawienia:', { 'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.issueDate, { 'attr' : {'class': 'form-control col-md-3', 'id' : 'date2', 'type' : 'date', 'name' : 'date2'}}) }}   
                </div>
                <div class="form-group text-muted text-right">
                    {{ form_label(form.saleDate, 'Data sprzedaży:', { 'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.saleDate, {'attr' : {'class' : 'form-control','id': 'date2', 'type' : 'date', 'name' : 'date2'}}) }}
                </div>
                <div class="form-group text-muted text-right">
                    {{ form_label(form.dueDate, 'Termin płatności:', { 'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.dueDate,{'attr' : {'class' : 'form-control','id': 'date2', 'type' : 'date', 'name' : 'date2'}}) }}
                </div> 
            </div>
        </div>
        <div class="form-group">
            &nbsp;
        </div>
        <hr>
        <div class="row">
            <div class="col-md-5" name="buyer">
                {{ form_label(form.customer, 'Nabywca:', { 'label_attr' : {'class' : 'control-label'}}) }}
                {{ form_widget(form.customer, {'attr': {'data-placeholder':'Wybierz','class' : 'form-control chzn-select input-sm', 'tabindex' : '2', 'style' : 'width : 340px ; float : right'}})}} 
                <div id="match"></div>
            </div>
            <div class="col-md-2">
                <!-- Przycisk uruchomienia modala -->
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#customer">Dodaj nowego</button>
            </div>
            <div class="col-md-5" name="seller">
                {{ form_label(form.company, 'Sprzedawca:', { 'label_attr' : {'class' : 'control-label'}}) }}
                {{ form_widget(form.company, {'attr' : {'class' : 'form-control input-sm', 'style' : 'width : 340px ; float : right'}})}} 
            </div>  
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <table class="control-label">
                    <th width="340px" float="left">
                        Nazwa produktu
                    </th>
                    <th width="70px" float="left">
                        ilość
                    </th>
                    <th width="55px" float="left">
                        JM
                    </th>
                    <th width="160px" float="left">
                        cena netto
                    </th>
                    <th width="160px" float="left">
                        wartość netto
                    </th>
                    <th width="80px" float="left">
                        VAT
                    </th>
                    <th width="160px" float="left">
                        kwota brutto
                    </th>
                </table>       
                <div id="form-test">
                 {#   {{ form_widget(form.positions)}}     #}  
                </div>               
            </div>     
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">             
                    {{ form_label(form.paymentCondition, 'Warunki platności:', { 'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.paymentCondition, { 'attr': {'class': 'form-control input-sm', 'style' : 'width : 280px ; float : right'}}) }}
                </div> 
                <div class="form-group" style="display: inline;" id="iban" >
                    {{ form_label(form.iban, 'Nr rachunku bankowego:', { 'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.iban, { 'attr': {'class': 'form-control input-sm', 'style' : 'width : 280px ; float : right'}}) }}
                </div>               
            </div> 
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.totalGross, 'Razem Brutto:', { 'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.totalGross, { 'attr': {'class': 'form-control input-sm', 'style' : 'width : 280px ; float : right'}}) }}
                </div> 
            </div>
        </div>

        <input type="submit" class="btn btn-success btn-sm" value="Zapisz fakturę" />
        <a class="btn btn-default btn-sm" href="{{ path('invoicecorrective_index') }}">Powrót do listy faktur</a>
        {{ form_end(form) }}

        <!-- Modal -->

    </div>

    <script src="{{ asset('js/jquery-3.1.1.js')}}"></script>
    <script src="{{ asset('js/jquery.collection.js')}}"></script>
    <script src="{{ asset('js/counting.js') }}"></script> 

    <script type="text/javascript">

        $('.pozycja').collection({
            min: 1,
            init_with_n_elements: 1,
            prototype_name: '{{ form.positions.vars.prototype.vars.name }}',
            allow_add: true,
            allow_remove: true,
            name_prefix: '{{ form.positions.vars.full_name }}',
            position_field_selector: '.my-position',
            up: '<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-arrow-up"></span></a>',
            down: '<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-arrow-down"></span></a>',
            add: '<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span></a>',
            remove: '<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></a>'
        });


    </script>  
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="{{ asset('bundles/tuto/js/autocomplete-customers.js') }}"></script>
    <script type="text/javascript">
        $(".chzn-select").chosen();
        $(".chzn-select-deselect").chosen({
            allow_single_deselect: true
        });
    </script>
    
    
    
    
    
    
    <h1>Invoicecorrective creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('invoicecorrective_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
